<%= button_to another_profile_path(@post.user_id), method: :get, class: 'button_null'  do %>
  <div class="user gap10">
    <%= image_tag "unknown_user.svg"%>
    <p><%= @another_user.username%></p>
  </div>
<%end%>