<% if user_signed_in? %>
  <%= button_to profile_path(), method: :get, class: 'button_null'  do %>
    <div class="user gap10">
      <p><%= session[:username]%></p>
      <%= image_tag "unknown_user.svg"%>
    </div>
  <%end%>
<%else %>
  <%= button_to 'LogIn', login_path , method: :get, class: 'button' %>
<%end%>