<div class="post_new gap10_column">
  <%= render "shared/head_popup",close_path: profile_path() %>
  <div class="body gap10_column">
    <%= render 'post_form',model:@post,url: post_create_path(post_id:@post.id)%>
  </div>
</div>